<%- layout("/layouts/boilerplate.ejs") %>

    <body>
        <div class="container">
            <div class="row mb-5">
                <div class="col-3"></div>
                <div class="col-lg-6  ">
                    <h1>Edit Exstiting Listing</h1><br>
                    <form method="post" action="/listings/<%= data.id %>?_method=PATCH" class="needs-validation" enctype="multipart/form-data" novalidate>
                        <div class="mb-3">
                            <label for="title" class="form-label fw-medium">Tittle<span
                                    class="text-danger h5">*</span></label>
                            <input type="text" class="form-control" value="<%= data.title %>" name="Listing[title]"
                                id="title" autocomplete="off" required>
                            <div class="invalid-feedback">Enter Valid Title</div>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label  fw-medium">Description<span
                                    class="text-danger">*</span></label>
                            <textarea class="form-control" name="Listing[description]" rows="4"
                                id="description" required><%= data.description %></textarea>
                            <div class="invalid-feedback">Enter a short description</div>

                        </div>
                        <div class="row mb-3">
                            <img src="<%= originalImage %>"  alt="Listing image Preview">
                        </div>
                        <div class="mb-3">
                            <label for="image" class="form-label fw-medium">Upload New Image<span
                                    class="text-danger h5">*</span></label>
                            <input type="file" class="form-control" name="Listing[image]"
                                id="image">
                        </div>
                        <div class="row">
                            <div class="col-sm-5 mb-3">
                                <label for="price" class="form-label  fw-medium">Price<span
                                        class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="Listing[price]" value="<%= data.price %>"
                                    id="price" autocomplete="off" required>
                                <div class="invalid-feedback">Enter Valid Price</div>
                            </div>
                            <div class="col-sm-7 mb-3">
                                <label for="country" class="form-label fw-medium">Country<span
                                        class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="Listing[country]"
                                    value="<%= data.country %>" id="country" autocomplete="off" required>
                                <div class="invalid-feedback">Enter Valid Country</div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="location" class="form-label fw-medium">Location<span
                                    class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="Listing[location]"
                                value="<%= data.location %>" id="location" required>
                            <div class="invalid-feedback">Enter Valid Location</div>
                        </div>

                        <button class="btn btn-danger">Edit</button>
                        <button type="reset" class="btn btn-primary"> Reset </button>
                    </form>
                </div>
                <div class="col-3"></div>
            </div>
        </div>

    </body>